{% extends "layout.html" %}

{% block title %}{{env.locals.name}}{% endblock %}

{% block content %}
							<div class="blog-posts">
								{% for article in contents['index.page'].articles %}
								<article class="post post-medium-image">
									<div class="row">

										<div class="col-md-5">
											<div class="post-image text-center">
												{% if article.metadata.featuredImage %}
												<a href="{{ article.url }}"><img class="img-rounded" width="250px" src="{{ article.metadata.featuredImage }}" alt=""></a>
												{% endif %}
												<br />
												{% if article.metadata.copyright %}
												<span>&copy; Picture by <a href="{{article.metadata.copyrightURL}}" target="_blank">{{article.metadata.copyright}}</a> </span>
												{% endif %}
											</div>
										</div>
										<div class="col-md-7">

											<div class="post-content">

												<h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
												{% if article.metadata.tagLine %}
												<h4><a href="{{ article.url }}">{{ article.metadata.tagLine }}</a></h4>
												{% endif %}
												<p>{{article.intro}}</p>
											</div>
										</div>

									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="post-meta">
												<span><i class="fa fa-calendar"></i> {{ moment(article.date).format('D MMMM YYYY') }} </span>
												<span><i class="fa fa-user"></i> By <a href="/about/">Erwin van der Koogh</a> </span>
												<a href="{{ article.url }}" class="btn btn-xs btn-primary pull-right">Read more...</a>
											</div>
										</div>
									</div>

								</article>
								{% endfor %}
							</div>
{% endblock %}